@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
  background-color: #0d0c1d;
  /* background-image: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_1280.jpg'); */
  /* background-image: url('https://cdn.pixabay.com/photo/2016/08/17/02/25/digitization-1599552_1280.jpg'); */
  /* background-image: url('https://cdn.pixabay.com/photo/2018/05/14/16/54/cyber-3400789_1280.jpg'); */
  font-family: 'Roboto';
  color: whitesmoke;
}

.container {
  height: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz {
  width: 100%;
}

.timer {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.question {
  color: rgba(245, 245, 245, 0.6);
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 40px;
}

.options {
  margin-top: 20px;
}

.option {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #a69cac;
  border-radius: 10px;
}

.option:hover {
  color: #733a92;
  border: 2px solid #733a92;
}

.clicked {
  color: #733a92;
  border: 2px solid #733a92;
}

.correct {
  color: rgb(0, 228, 228);
  border: 2px solid rgb(0, 228, 228);
}

.incorrect {
  color: red;
  border: 2px solid red;
}

.score {
  width: 240px;
  font-size: 1.4rem;
  margin-top: 40px;
  text-align: center;
  position: relative;
  left: calc(50% - 120px);
}

.score > p {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.score > div {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
}

.you > span,
.opponent span {
  margin-left: 10px;
}

.button {
  color: green;
  background-color: transparent;
  margin-top: 20px;
  padding: 5px;
  border: 3px solid green;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: whitesmoke;
  border: 3px solid whitesmoke;
}

@media (min-width: 700px) {
  .container {
    padding: 0 20%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 30%;
  }
}
