* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  /* background-color: #efe6fb; */
  background-image: url('https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_1280.jpg');
  background-repeat: no-repeat repeat;
  background-size: cover;
  overflow: hidden;
}
.part_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  margin-left: 100px;
}
.button {
  display: flex;
  /* margin-left: 650px;
  margin-top: 50px; */
}
.login_button,
.register_button {
  margin-right: 30px;
}
.login_button > button,
.register_button > button {
  border-radius: 20px;
  background-color: #ce91df;
  border-color: #ce91df;
  text-shadow: none;
  width: 90px;
  height: 35px;
  color: white;
}

.login_button > button:hover,
.register_button > button:hover {
  border-radius: 20px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ce91df;
}
.login_button > button > a:hover,
.register_button > button > a:hover {
  text-decoration: none;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ce91df;
}

.part_2 {
  position: relative;
}
.images > .phone > img {
  position: absolute;
  transform: rotate(15deg);
  left: 750px;
}
.images > .pc > img {
  /* position: absolute; */
  /* transform: rotate(20deg); */
  margin-left: 850px;
  margin-top: 10px;
}
.images > .small_hints > .hint_1 > img {
  position: absolute;
  left: 730px;
  top: 20px;
}
.images > .small_hints > .hint_2 > img {
  position: absolute;
  left: 830px;
  top: -30px;
}
.part_3 > .paragreph > p {
  position: absolute;
  left: 100px;
  top: 30%;
  width: 400px;
  height: 500px;
  font-size: 20px;
  line-height: 30px;
}
.part_3 > .paragreph > p > span {
  color: #162437;
  font-weight: bold;
  font-size: 40px;
  margin-right: 10px;
}
.part_3 > .paragreph > p > img {
  margin-left: 5px;
  margin-right: 5px;
}
.start_button > button {
  position: absolute;
  left: 130px;
  top: 60%;
  border-radius: 20px;
  background-color: #162437;
  border-color: #162437;
  text-shadow: none;
  width: 280px;
  height: 40px;
}
.start_button > button > a {
  text-decoration: none;
  color: white;
}

.part_1 .button {
  margin-right: 100px;
}

.login_button,
.register_button {
  background-color: #162437;
  border-radius: 10px;
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part_1 .button a {
  text-decoration: none;
  color: white;
}
