:root{
    --blue:#0D0C1D;
    --white:rgba(225, 225, 225, .7);
}

body{
    display: grid;
    place-items: center;
    background-color: var(--blue);
    color: var(--white)
}

main{
    width: 40%;
    height: calc(auto+3px);
    border-radius: 16px;
    padding: 20px;
    display: grid;
    justify-items: center;
}

form{
    width: 90%;
    padding: 20px;
    display: grid;
    place-items: center;
}

.icon-input {
    display: grid;
    place-items: center;
    width: 100%;
}

input{
    position: relative;
    margin: 20px;
    width: 100%;
    height: 45px;
    padding: 5px 0 5px 40px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    border: 1.5px solid var(--white);
    color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s
}

.icon-input img{
    position: absolute;
    width: 20px;
    height: 20px;
    justify-self: start;
    margin-left: 10px;
}

input:hover{
    border-color: white;
    color: white;
}

.submit {
    font-weight: 700;
    font-size: 20px;
    border-color: green;
    color: green;
    padding: 0;
}

.submit:hover{
    border-color: white;
    color: white;
    background-color: green;
}

p,a{
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
}

span{
    display: block;
    font-size: 13px;
    color: red;
}

.psw-forget{
    justify-self: end;
}


@media (max-width:1350px) {
    main{
        width: 50%;
    }
}

@media (max-width:760px) {
    main{
        width: 90%;
    }

    form{
        width: 100%;
    }
}