doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    form
      input#username(type="text" placeholder="Username")
      input#email(type="text" placeholder="Email")
      input#password(type="password" placeholder="Password")
      button#register(type="submit") Register

    script(src="js/fake-register.js")