doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
  link(rel='stylesheet' href='/style/home.css')
.container
  .zone_1
    .logo
      img(src='/images/quiz_logo.gif' alt='' width='200px' height='120px')
  .zone_3
    .quiz_1
      a(href='#')
        img(src='/images/art.png' alt='' width='80px')
        p
    .quiz_2
      a(href='#')
        img(src='/images/computer.png' alt='' width='80px')
        p
    .quiz_3
      a(href='#')
        img(src='/images/culture.png' alt='' width='80px')
        p
    .quiz_4
      a(href='#')
        img(src='/public/images/music.png' alt='' width='80px')
        p
    .quiz_5
      a(href='#')
        img(src='/public/images/sport.png' alt='' width='80px')
        p
    .quiz_6
      a(href='#')
        img(src='/public/images/science.png' alt='' width='80px')
        p
    .zone_2
      .profile_pic
        img(src='/public/images/profile.png' alt='photo de profile' width='150px')
      .user_info
        .username
          span UserName:
          |  Sirine Sehabi
        .score
          span Score:
          |  3050
      .decennexion_btn
        a(href='/views/landing.pug') Decennexion