doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style/style.css")
    link(rel="stylesheet", href="/style/home.css")
    title Home
  body 
      header 
        nav 
          img(class="logo",src="/images/quiz_logo.gif")
          a(href="/quizzes") add quiz 

      main 
        section.profile 
          img(class="profile-image", src="/images/profile-image.jpg", alt="profile")
          h4 #{user.username}
          p  #{user.email}
          
          button#logOut Log Out


        section.quizes 
          
          #html 
            img(src="/images/html.svg", alt="html")
            h3 HTML
            button(class="start start-html") Start 

          #CSS 
            img(src="/images/css.svg", alt="css")
            h3 CSS
            button(class="start start-css") Start

          #js
            img(src="/images/js.svg", alt="js")
            h3 Java script 
            button(class="start start-js") Start

          #git
            img(src="/images/git.svg", alt="git")
            h3 Git
            button(class="start start-git") Start

          #c
            img(src="/images/c.svg", alt="c")
            h3 C 
            button(class="start start-c") Start

          #nodeJs
            img(src="/images/nodejs.svg", alt="nodeJs")
            h3 Node Js
            button(class="start start-nodeJs") Start

          #react
            img(src="/images/react.svg", alt="react")
            h3 React
            button(class="start start-react") Start 

      script(src="/js/home.js")   
            