<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="./../public/style/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="part_1">
            <div class="logo">
                <img src="./../public/images/quiz_logo.gif" alt="Logo" width="200px" height="120px">
            </div>
            <div class="button">
                <div class="login_button">
                    <button id="login">
                        login
                    </button>
                </div>
                <div class="register_button">
                    <button id="register">
                        Register
                    </button>
                </div>
            </div>
        </div>
        <div class="part_2">
            <div class="images">
                <div class="phone">
                    <img src="./../public/images/phone.png" alt="phone picture" width="240px">
                </div>
                <div class="pc">
                    <img src="./../public/images/pc.png" alt="pc picture" width="430px">
                </div>
                <div class="small_hints">
                    <div class="hint_1">
                        <img src="./../public/images/quiz1.png" alt="" width="60px" height="60px">
                    </div>
                    <div class="hint_2">
                        <img src="./../public/images/quiz2.png" alt="" width="40px" height="40px">
                    </div>
                    <div class="hint_3">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3">
            <div class="paragreph">
                <p><span>Welcome</span> to an exciting world of knowledge and fun! <img src="./../public/images/fun.png"
                        alt="" width="20px" height="20px"> Our quiz game is your passport to a
                    thrilling
                    journey of questions, challenges, and discoveries. Whether you're a trivia master or a curious
                    learner, this game is designed to tickle your brain and keep you entertained.</p>
            </div>
            <div class="start_button">
                <button>
                    <a href="">Start</a>
                </button>
            </div>
        </div>

    </div>
</body>

</html>