doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/style.css")
        link(rel="stylesheet", href="/style/login-signUp.css")
        title Login 
    body 
        main 
           h1 Login
           form(action="/api/v1/auth/login", method="post") 

                .icon-input 
                  input(id="email" , type="email", name="email", placeholder="Email" , required) 
                  img(src="/images/envelopes.svg", alt="")
                span.email-error
                
                .icon-input 
                  input(id="password" , type="password", name="password", placeholder="Password" , required)
                  img(src="/images/key-skeleton-alt.svg", alt="")
                a(class="psw-forget" href="#") Forget Password? 
                span.password-error
        
                input(id="login",class="submit",type="submit", value="Login")

                <div class="error">error</div>

                .signUp 
                   p  Not A Member Yet? 
                   a(href="/register")  Sign Up here
        
        script(src="/js/login.js") 