doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/style.css")
        link(rel="stylesheet", href="/style/login-signUp.css")
        title Login 
    body 
        main 
           h1 Login
           form(action="/api/v1/auth/login", method="post") 
               label(for="email") Email 
               input(id="email" , type="email", name="email", placeholder="Email" , required) 
               span.email-error

               label(for="password") Password
               input(id="password" , type="password", name="password", placeholder="Password" , required)
               span.password-error
        
               input(id="login",class="submit",type="submit", value="Login")

               p Not have an account?
               a(href="/register") Sign Up here
        
        script(src="/js/login.js") 