doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../style/fake-game.css")
    script(src="/socket.io/socket.io.js")
    title 
  body 
    .container
      //- h2 Enjoy 😅
      div.searching(style="visibility: hidden;") Searching ...
      button(id="start-game" class="button") Start New Game
      .quiz 
        .timer 30
        .question -----------?
        .options 
          .option -----------
          .option -----------
          .option -----------
          .option -----------
        .score 
          p score
          div
            span.you you
              span.your-score 0
            span -
            span.opponent opponent
              span.opponent-score 0
      a(href="../pages/duo-game" style="visibility: hidden;" class="reset-link") 
        button(class="reset button") Reset
          

    script(src="../js/duoGame.js")
