doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style/fake-game.css")
    script(src="/socket.io/socket.io.js")
    title 
  body 
    .container
      div.searching(style="visibility: hidden;") Searching ...
      button#start-game Start New Game
      .quiz 
        .timer 30
        .question -----------?
        .options 
          .option -----------
          .option -----------
          .option -----------
          .option -----------
        .score 
          p score
          div
            span.you you
              span.your-score 0
            span -
            span.oponent oponent
              span.oponent-score 0
      a(href="/home" style="visibility: hidden;" class="back-link") 
        button(class="back-home") Back To Home
          

    script(src="js/duoGame.js")
