doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="/socket.io/socket.io.js")
    title 
  body 
    button#start-game Start New Game
    .quiz 
      .timer
      .question 

    script(src="js/duoGame.js")
