doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/style.css")
        link(rel="stylesheet", href="/style/login-signUp.css")
        title Sign Up
    body 
        script(src="/js/landing.js")
        main 
           h1 Sign Up
           form(action="/api/v1/auth/register", method="post") 
                .icon-input 
                  input(id="username" , type="text", name="username", placeholder="Username" , required)
                  img(src="/images/user-circle.svg", alt="")
               
                .icon-input 
                  input(id="email" , type="email", name="email", placeholder="Email" , required) 
                  img(src="/images/envelopes.svg", alt="")
                  span.email-error
               
                .icon-input 
                  input(id="password" , type="password", name="password", placeholder="Password" , required)
                  img(src="/images/key-skeleton-alt.svg", alt="")
                span.password-error
                
                .icon-input 
                  input(id="password-confi" , type="password", name="password-confi", placeholder="confirm Password" , required)
                  img(src="/images/key-skeleton-alt.svg", alt="")
                span.password-confi-error

                input(id="signUp",class="submit",type="submit", value="Sign Up")
               
                <div class="error">error</div>

                .login 
                   p Already have an account?
                   a(href="/login") Login here

        script(src="/js/signUp.js") 
