doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/style.css")
        link(rel="stylesheet", href="/style/login-signUp.css")
        title Sign Up
    body 
        script(src="/js/landing.js")
        main 
           h1 Sign Up
           form(action="/api/v1/auth/register", method="post") 
               label(for="username") Username 
               input(id="username" , type="text", name="username", placeholder="Username" , required)
               br
               
               label(for="email") Email 
               input(id="email" , type="email", name="email", placeholder="Email" , required)
               span.email-error

               label(for="password") Password
               input(id="password" , type="password", name="password", placeholder="Password" , required)
               span.password-error

               label(for="password-confi") Confirm password
               input(id="password-confi" , type="password", name="password-confi", placeholder="confirm Password" , required)
               span.password-confi-error

               input(id="signUp",class="submit",type="submit", value="Sign Up")

               p By clicking the Sign Up button, you agree to our
               a(href="#") Terms and Conditions and 
               a(href="#") Privacy Policy
               
               p Already have an account?
               a(href="/login") Login here

        script(src="/js/signUp.js") 
